.container {
  min-height: 100%;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
}

.logo {
  height: 2em;
  margin-right: 1rem;
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.nav_item {
  flex: 1;
}

.not_connected_status {
  color: #a8a8a8;
  padding: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.print_add_container {
  background-color: #0a79fd;
  border-radius: 50%;
  padding: 0.1rem;
  margin: 0.1rem;
}

.print_add {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
}

.device_status_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.device_status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #f5f5f5;
  border-color: #aaaaaa;
  border-radius: 6px;
  border-style: solid;
  max-width: 300px;
  min-width: 175px;
}

.device_status_msg {
  color: #a8a8a8;
  font-size: small;
}

.page_description {
  margin-top: 1rem;
}

.result_image {
  width: 100%;
  height: auto;
}

.disabled {
  background-color: #eeeeee;
  color: #ffffff;
  margin: 0.5rem;
  flex-basis: 45%;
  padding: 1rem 1.5rem 1rem 1.5rem;
  text-align: left;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}

.connected_status {
  color: #80ff74;
  padding: 0.1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.score_container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.device_connected_status {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #f5f5f5;
  border-color: #80ff74;
  border-radius: 6px;
  border-style: solid;
  max-width: 300px;
  min-width: 175px;
}

.score {
}

.blue_card {
  background-color: #0a79fd;
  color: #ffffff;
  margin: 0.5rem;
  flex-basis: 45%;
  padding: 1rem 1.5rem 1rem 1.5rem;
  text-align: left;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  max-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blue_card:hover,
.blue_card:focus,
.blue_card:active {
  color: grey;
  border-color: white;
}

.grey_card {
  max-width: fit-content;
  background-color: #dedede;
  color: #000000;
  margin: 0.5rem;
  flex-basis: 45%;
  padding: 1rem 1.5rem 1rem 1.5rem;
  text-align: left;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.grey_card:hover,
.grey_card:focus,
.grey_card:active {
  color: grey;
  border-color: white;
}

.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  max-width: 800px;
  margin-top: 3rem;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}
